@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --greyText: #526077;
    --primaryPurple: #6366f1;
    --primaryGreen: #41b27c;
    --primaryRed: #f43f5e;
    --borderColor: #d1d5db;
    --rose: #f43f5e;
  }
}

body {
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
